<div class="planetSet">

    <input type="number" [(ngModel)]="ring" (keyup)="ringChanged()" (click)="ringChanged()">

    <input type="number" [(ngModel)]="planets" (keyup)="planetsChanged()" (click)="planetsChanged()">

    <input type="number" [(ngModel)]="sun" (keyup)="sunChanged()" (click)="sunChanged()">
</div>