<div>
    <div>
        Change Axis and Planets to create a logical design. Then change Sun and Ring
        for fine-tuning.
        <!-- TODO: disallow changes to Sun & Ring when more than 10% off ideal. -->
    </div>
    <div class="grid">
        <div class="planetSet">
            <div>Ring</div>

            <div>Planets</div>

            <div>Sun</div>
        </div>
        <div *ngFor="let set of sets">
            <gear_set [set]="set" [axis]="axis"></gear_set>
        </div>
    </div>
    <div>
        Planetary axis:
        <input type="number" [(ngModel)]="axis" (keyup)="axisChanged()" (click)="axisChanged()">
    </div>
    <hr/>
    <ul *ngIf="stage != null">
        <li *ngFor="let path of stage.paths">
            With fixed sun gear {{path.fixed.index}} and driven planet carrier,
            the ring {{path.output.index}} will move {{stage.ratio(path) | number:"1.3-3"}} faster.
        </li>
    </ul>

</div>